[submodule "game"]
	path = game
	url = https://github.com/Apptive-Game-Team/ArcaneCastersGame
	branch = dev
[submodule "lobby"]
	path = lobby
	url = https://github.com/Apptive-Game-Team/ArcaneCastersLobby
	branch = dev
[submodule "client"]
	path = client
	url = https://github.com/Apptive-Game-Team/ArcaneCastersClient
	branch = dev
[submodule "database"]
	path = database
	url = https://github.com/Apptive-Game-Team/ArcaneCastersDatabase
	branch = dev
[submodule "admin"]
	path = admin
	url = https://github.com/Apptive-Game-Team/ArcaneCastersAdmin
	branch = dev
[submodule "account"]
	path = account
	url = https://github.com/Apptive-Game-Team/AccountServer
[submodule "website"]
	path = website
	url = https://github.com/Apptive-Game-Team/theevilent
[submodule "infra"]
	path = infra
	url = https://github.com/Apptive-Game-Team/ArcaneCastersInfra
